.text-center{
    text-align: center;
}
::-webkit-scrollbar {/*定义滚动条整体部分*/
    width: 10px;
}
::-webkit-scrollbar-track {/*滚动条的轨道，里面装有thumb*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgba(0, 150, 136, 0.1);
}
::-webkit-scrollbar-thumb {/*滚动条里面的小方块，可以移动的*/
    border-radius: 10px;
    -moz-border-radius: 10px;
    background-color: rgba(0, 150, 136, 0.2);
}