<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>心愿图表</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
    <script type="text/javascript" src="/js/echarts.js"></script>
    <script type="text/javascript" src="/js/jquery.min.js"></script>
    <script type="text/javascript" src="/layui/layui.js"></script>
    <style type="text/css">
        .shideline{
            border: 0;
        }
    </style>
</head>
<body>
<div class="layui-tab">
    <ul class="layui-tab-title">
        <li class="layui-this">喜欢标签<span class="layui-badge-dot"></span></li>
    </ul>
    <div class="layui-tab-content" style="height: 100px;">
        <div class="layui-tab-item layui-show" id="cardwish" style="position:absolute;top:100px;left:200px;width:700px; height: 600px;"></div>
    </div>
</div>
<script type="text/javascript" src="/js/wishcharts.js"></script>
</body>
</html>