<!DOCTYPE html>
<html xmlns:th="http://www.thymeleleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>心愿管理 - 举报心愿列表</title>
    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <style>
        a{color: white;}
        a:hover{color: black;}
    </style>
</head>
<body class="layui-layout-body" >
<div class="layui-layout layui-layout-admin">
    <div class="">
        <!-- 内容主体区域 -->
        <div style="padding: 20px;">
            <fieldset class="layui-elem-field">
                <legend>心愿管理 - 举报心愿列表</legend>
                <div class="layui-field-box">
                    <form class="layui-form" action="/wish/wishReportConditionList" method="post">
                        <div class="layui-form-item" style="text-align:center;">
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <select name="modules" lay-verify="required" class="changesearch" lay-filter="level">
                                        <option value="">直接选择或搜索选择</option>
                                        <option value="1">心愿举报id</option>
                                        <option value="2">举报内容</option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-inline">
                                <div class="layui-input-inline">
                                    <input autocomplete="off" class="layui-input txtsearch" placeholder="请输入关键字" type="text" name="keywordtxt">
                                    <input autocomplete="off" class="layui-input numsearch" placeholder="请输入数字" type="number" name="keywordnum">
                                    <input autocomplete="off" class="layui-input num1search" placeholder="输入状态（0-1-2-3-4）" type="number" name="keywordnum1">
                                </div>
                            </div>
                            <div class="layui-inline" style="text-align:left;">
                                <div class="layui-input-inline">
                                    <button type="submit" class="layui-btn" lay-submit><i class="layui-icon">&#xe615;</i>查询</button>
                                </div>
                            </div>
                        </div>
                    </form>
                    <hr>
                    <div class="layui-btn-group">
                        <button class="layui-btn layui-btn-xs layui-btn-danger" data-method="deletemore" dw-url="/wish/wishReportDeletemore">
                            <i class="layui-icon">&#xe640;</i>删除
                        </button>
                        <button class="layui-btn layui-btn-xs">
                            <a href="/wish/wishReportList"><i class="layui-icon">&#x1002;</i>刷新</a>
                        </button>
                    </div>
                    <hr>
                    <table class="layui-table" style="text-align:center;">
                        <colgroup>
                            <col width="50">
                            <col width="100">
                            <col width="100">
                            <col width="300">
                            <col width="250">
                            <col width="200">
                        </colgroup>
                        <thead >
                        <tr>
                            <th class="selectAll" style="text-align:center;"><input type="checkbox" id="chooseall" lay-filter="yesChoose" lay-skin="primary"></th>
                            <th style="text-align:center;">心愿举报id</th>
                            <th style="text-align:center;">心愿id</th>
                            <th style="text-align:center;">举报原因</th>
                            <th style="text-align:center;">举报时间</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                        </thead>
                        <tbody class="tbodyforchoose">
                        <tr th:each="wishReport,userStat:${wishReports}">
                            <td><input type="checkbox" name="datas" th:value="${wishReport.reportId}" lay-skin="primary"></td>
                            <td th:text="${wishReport.reportId}"></td>
                            <td th:text="${wishReport.wishId}"></td>
                            <td th:text="${wishReport.reportReason}"></td>
                            <td th:text="${#dates.format(wishReport.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                            <td class="text-center">
                                <div class="layui-btn-group">
                                    <button class="layui-btn layui-btn-xs layui-btn-normal" data-method="onwrite" th:dw-url="@{/wish/wishReportView/{id}(id=${wishReport.wishId})}" dw-title="举报心愿详细信息" dw-height="80%">
                                        <i class="layui-icon">&#xe642;</i>查看
                                    </button>
                                    <button class="layui-btn layui-btn-xs layui-btn-danger" data-method="deleteone" th:dw-url="@{/wish/wishReportDeleteone/{id}(id=${wishReport.reportId})}" th:dw-title="${wishReport.reportId}">
                                        <i class="layui-icon">&#xe640;</i>删除
                                    </button>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </fieldset>
        </div>
    </div>
</div>
<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/js/check.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</body>
</html>